{% extends 'menu_temp.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class = "row">
            <div class="col md-8">
            <h3>Добавить заказ</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <br>
            <small class="btn btn-danger" style="color: rgb(255, 255, 255);">!!! Формат адреса: №, улица, район, город, область, страна</small>
            
            </div>
            <div class="col md-4">
            <h3>Список заказов</h3>
                {% for order in orders %}
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'order_detail' order.id %}">{{ order.sender.name }}</a></h5>
                    <p>А: {{ order.sender.adress }}</p>
                    <p>Б: {{ order.destination }}</p>
                    <span class="card-text">Дата и время: {{ order.date }}</span>
                    <a href="{% url 'show_route_map' order.id %}" class="btn btn-success mx-2">Маршрут</a>
                    <a href="#" class="btn btn-warning">Изменить</a>
                    <a href="{% url 'delete_order' order.id %}" class="btn btn-danger mx-2">Удалить</a>
                  </div>
                </div>
                <br>
                {% endfor %}
              </div>
        </div>
    </div>
{% endblock %}